body{
  height: 100vh;
  background-image: url(background.png);
  width: 100vw;
  /* display: flex;  */
  /* flex-wrap: wrap;  */
  /* flex-direction: row;  */
}
.body{ 
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
}
header {
  height: 56px;
  width: 100%;
  color: rgb(11, 11, 11);
  background: rgb(11, 11, 11);
  border: 1px solid rgb(27.8, 27.8, 27.8);
  
  position: absolute;
  display: flex;
  justify-content: space-between; 
  /* flex-wrap: wrap;  */
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	/* justify-content: center; */
	align-items: center;
	align-content: space-between;
}
.background{ 
    display: flex; 
    position: static;
}
.back-button{ 
    height: 30px; 
    padding: 5px; 
    float: left; 
    font-size: 15px;
    color: white; 
    /* margin-top: 15px;  */
    margin-left: 10px; 
    font-family: sans-serif;
    border: 1px solid rgba(18,18,18,.8); 
    /* background-image: linear-gradient(rgb(18,18,18), rgb(3.5,3.5,3.5)); */
    background-image: linear-gradient(to bottom, rgba(18,18,18,.8), rgba(3.5,3.5,3.5,1));
    box-shadow: 1; 

}
.logo{ 
    float: right; 
    height: 40px; 
    width: 80px ;
    position: relative;
}
.Hotel_Details{ 
    font-family: sans-serif;
    color: white; 
    text-align: center; 
    /* margin-top: 15px;  */
    font-size: 20px; 
    position: relative;
    /* float: right;  */
}
.hotel-exterior{ 
    margin: auto;
    height: 20vh; 
    width: 90%; 
    justify-content: center; 
}
#image{ 
    border: 5px solid white; 

}

@media (max-width: 959px) {
  #image {
    width: 100%;
  }
}
/* @media (min-width: 768px) {
  .logo {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .logo {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .logo {
    max-width: 1140px;
  }
} */
